body {
    font-family: Arial, sans-serif;
    background-color: #ffcb9b63;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(183, 242, 252, 0.877);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
} 

#quote-box {
    margin-bottom: 20px;
}

#quote {
    font-size: 1.5em;
    font-style: italic;
    color: #333;
}

#author {
    font-size: 1.2em;
    color: #000000;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #35de3b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #08610b;
}
